<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="UI.Desktop.Properties.Settings.tp2_netConnectionString"
        connectionString="Data Source=DESKTOP-70K6BGI;Initial Catalog=tp2_net;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
